<div>
  <h1>{{carouselName}}</h1>
  <div id="carousel-{{name}}" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li attr.data-target="#carousel-{{name}}" data-slide-to="0" class="active"></li>
      <li attr.data-target="#carousel-{{name}}" data-slide-to="1"></li>
      <li attr.data-target="#carousel-{{name}}" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item">
        <div class="row">
          <ng-container *ngFor="let show of shows">
            <img src="{{show.KeyArtUrl}}" height="50" width="50">
          </ng-container>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" attr.href="#carousel-{{name}}" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" attr.href="#carousel-{{name}}" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
