.big-carousel {
  top: 500px;
}

footer {
  color: #BFBFBF;
  background: rgba(41, 42, 44, 0.95);
  font-size: 1em;
}

#footer-list > li {
  display: inline;
}

#footer-list > li > a {
  color: #BFBFBF !important;
}

.footer-right-side > a > i {
  color: #BFBFBF !important;
}
